html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 52px;
    background-color: #f5f5f5;
}
.license {
    padding-bottom: 0;
}
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 52px;
}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img{
    width: 80%; /* use this, or not */
    margin: auto;
}
.promo {
    padding-top: 80px;
}
.promo .meta {
    margin-top: 60px;
}
.carousel-control.left {
    background-image: none;
}
.carousel-control.right {
    background-image: none;
}
.carousel-indicators li {
    border: 1px solid #EEBF3F;
}
.carousel-indicators .active {
    background-color: #EEBF3F;
}
.modal-dialog {
    margin-top: 120px;
}
.form-control {
    height: 38px;
}
.license .cta-container .speech-bubble {
    background: #074F66;
}
.license .cta-container .speech-bubble:after {
    border-top: 10px solid #074F66;
}